@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

/* Trong file: src/styles.css */

:root {
    --header-offset: 145px;
    /* fallback */
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;       /* <-- THÊM VÀO */
}

body {
    /* XÓA DÒNG NÀY ĐI: padding-top: var(--header-offset); */
    font-family: "Inter", sans-serif;
}