:root {
    --header-offset: 145px;
    /* fallback */
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    padding-top: var(--header-offset);
    /* để nội dung không bị header fixed đè */
    font-family: "Inter", sans-serif;
}