<section class="product-detail" *ngIf="product">

    <div class="product-images">
        <h2>{{ product.vehicleName }} / {{ product.id }}</h2> 
        
        <img [src]="mainImageUrl" alt="Ảnh xe" class="main-img">
        
        <div class="thumbs">
            <img *ngFor="let img of product.images" 
                 [src]="formatImagePath(img)" 
                 alt="Thumbnail"
                 (click)="changeMainImage(img)"
                 [class.active]="img === activeImage">
        </div>
    </div>

    <div class="product-info">
        <h3>Thông tin cơ bản</h3>
        <form class="info-form">
            <div class="form-group">
                <label>Tên xe:</label>
                <input type="text" [value]="product.vehicleName" readonly> 
            </div>

            <div class="form-group">
                <label>Loại xe:</label>
                <div class="tag-group">
                    <span *ngFor="let type of allVehicleTypes" 
                          class="tag"
                          [class.active]="type === product.type"> 
                        {{ type }}
                    </span>
                </div>
            </div>

            </form>
    </div>

</section>

<div *ngIf="!product">
    Đang tải chi tiết sản phẩm...
</div>