<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css"
/>

<section class="about__hero">
  <div class="container">

    <div class="about__logo">
      <img src="../../../assets/images/logofull.png" alt="EcoMOVE logo" />
    </div>

    <p class="about__lead" [innerHTML]="data.heroLead"></p>

    <p class="about__sublead" [innerHTML]="data.heroSubLead"></p>

    <!-- 3 card số liệu -->
    <div class="about__stats">
      <div
        class="stat-card"
        *ngFor="let item of data.stats; let i = index"
        [class.stat-card--highlight]="i === 1"
      >
        <div class="stat-card__value">
          {{ item.value }}
        </div>
        <div class="stat-card__label">
          {{ item.label }}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- SỨ MỆNH -->
<section class="about__values">
  <div class="container">
    <div class="about__values-panel">
      <div class="values-grid">

        <div class="value" *ngFor="let v of data.values">
          <div class="value__icon">
            <i [class]="v.icon" aria-hidden="true"></i>
          </div>

          <h3 class="value__title">
            {{ v.title }}
          </h3>

          <p class="value__text">
            {{ v.text }}
          </p>
        </div>

      </div>
    </div>
  </div>
</section>

<!-- PHẦN 3: ĐỐI TÁC ĐỒNG HÀNHS -->
<section class="about__partners">
  <div class="container">

    <h2 class="about-section-title">
      ĐỐI TÁC <span>ĐỒNG HÀNH</span>
    </h2>

    <div class="partners-grid">
      <div class="partner" *ngFor="let p of data.partners">

        <h3 class="partner__title">{{ p.title }}</h3>

        <div class="partner__logos">
          <img *ngFor="let logo of p.logos" [src]="logo" alt="Logo" />
        </div>

        <p class="partner__text">
          {{ p.description }}
        </p>

      </div>
    </div>

  </div>
</section>
<!-- PHẦN 4: ĐỘI NGŨ -->
 <section class="about__team">
  <div class="container">

    <h2 class="about-section-title">
      ĐỘI NGŨ <span>ECOMOVE</span>
    </h2>

    <div class="team-grid">
      <div class="team-member" *ngFor="let t of data.team">

        <div class="team-member__avatar"
             [ngStyle]="{'background-image': t.avatar ? 'url(' + t.avatar + ')' : 'none'}">
        </div>

        <h3 class="team-member__name">{{ t.name }}</h3>

        <div class="team-member__socials">
          <a [href]="t.facebook"><i class="bi bi-facebook"></i></a>
          <a [href]="t.linkedin"><i class="bi bi-linkedin"></i></a>
        </div>

      </div>
    </div>

  </div>
</section>
