<div *ngIf="active" class="promo" [class.promo--red]="variant === 'red'" aria-live="polite">
    <div class="promo__content">
        <h2 class="promo__title">
            MỪNG 20/10, NHẬP MÃ
            <span class="promo__code">{{ code }}</span>
            GIẢM NGAY <b>{{ amount }}</b>% GIÁ THUÊ XE!
        </h2>

        <p class="promo__sub">KẾT THÚC SAU</p>

        <div class="promo__countdown">
            <div class="box">
                <span class="num">{{ days }}</span>
                <small>Ngày</small>
            </div>
            <span class="colon">:</span>
            <div class="box">
                <span class="num">{{ hours }}</span>
                <small>Giờ</small>
            </div>
            <span class="colon">:</span>
            <div class="box">
                <span class="num">{{ minutes }}</span>
                <small>Phút</small>
            </div>
            <span class="colon">:</span>
            <div class="box">
                <span class="num">{{ seconds }}</span>
                <small>Giây</small>
            </div>
        </div>
    </div>

    <!-- <figure class="promo__imgwrap" aria-hidden="true">
        <img src="../../../assets/images/gift.png" alt="" class="promo__img" />
    </figure> -->
</div>